* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: inherit;
}

body {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #f3f3f3;
    border: 1px solid black;
}

.container {
    width: 600px;
    height: 600px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#calculation {
    padding: 10px 20px;
    border: 2px solid black;
    margin-bottom: 10px;
}

#numbers { 
    flex: 2;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

#operations {
    margin: 20px 0;
}

.row {
    display: flex;
    gap: 20px;
}

.btn {
    flex: 1 0 50px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}